html,body
{
    width: 100%;
    margin: 0;
    padding: 0;

}
.main
{ width: 100%;
 height: 740px;
 background: url(/images/main.jpg) center no-repeat;
 background-size: cover;
 
}

.header{
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    
}

.menu
{
    list-style: none;
    width: 530px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    position:relative; z-index: 1;
}

.item a {
    
    text-decoration:none;
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-weight: 900;
}
.item a:hover{
    color: #f5d76e;
}

.title{
    font-family: 'Playfair Display';
    font-size: 48px;
    line-height: 28px;
    font-weight: 700;
    color: #f5d76e;
}

.info 
{
    margin: 300px 170px;
    
    
}

.info p{
    color:white;
}
.button{
    width: 185px;
    height: 54px;
    text-transform: uppercase;
    font-weight: 900;
    border: 2px solid #ffffff;
    color: white;
    background-color: rgba(57,49,47,0.0);
    margin-top: 30px;
}
.button:hover{
    
    background-color: #f5d76e;
}

.logo{
width: 100px;
height: 80px;

}

.about{
    height: 350px;
    text-align: center;
    margin-top: 100px;

}

.about p{
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #28211f;
}
.about .block-title{
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: black;
    padding-top: 50px;
    text-transform: none;
    text-align: center;
    
}


span{
    font-weight: 900;
    text-decoration: underline;
}

.menu-block{
    
    text-align: center;
    width: 100%;
    height: 750px;
    
    
}

.cards{
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    

}
.coffee{
    width: 397px;
    height: 430px;
    
position: relative;
    
    
}

.card{
    position: relative;

}
.tea{
    width: 397px;
    height: 430px;
    
}

.desserts{
    width: 397px;
    height: 430px;
   
}

.image_item{
    width: 396px;
    height: 294px;
    background-color: #9779790c;
    background-size: cover;
    background-position: center;
}

.coffee .image_item{
    
    background-image: url(/images/coffee.jpg) ;

   
} 

.tea .image_item{
    background-image: url(/images/tea.jpg);

} 

.desserts .image_item{
    background-image: url(/images/cake.jpg);
  
} 
.menu-block .block-title{
    margin-top: 0;
    color: black;
    margin-top: 10px;
    padding-top: 20px
}
.menu-block table{
    
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    color: #28211f;
    padding-top: 15px;
    padding-right: 10px;
}

.button2{
    width: 232px;
    height: 54px;
    background-color: rgba(57,49,47,0.0);
    border: 2px solid #39312f;
    font-size: 13px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #39312f;
    margin-top: 60px;
}
.button2:hover{
    background-color: #f5d76e;  
}


.cards h2{
    width: 100%;
    height: 430px;
    text-align: center;
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 40px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
   /* padding: 120px 123px 100px 110px;*/
    
    margin-top: 100px;
}

.cards table{
    text-align: left;
}

.block3{
    width: 100%;
    height: 600px;  
}

.block-title{
    height: 60px;
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-align: center;      
     
}
.user{
    width: 600px;
    height: 425px;
    list-style: none; 
    position: absolute;
    right: 0;
    
}
.user .user-comment{
    list-style: none;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 5px;
   
}

.user .user-name{
    padding-top: 20px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #f5d76e;
}

.feedback-wrapper{
    width: 100%;
    height: 425px;
    display: flex;
    justify-content: space-between;
    
    
}
.picture{
    background-image: url(/images/feedback.jpg);
    background-size: cover;
    width:100%;
    height:100%;
}
.user-avatar{
    background-image: url(/images/avatar.png) ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: auto 250px;
    background-position: center;
    margin: 50px auto 0;
  }
  .block3 h2{
      padding-top: 10px ; 
  }
 

.location{
   
    width: 40%;
    height: 395px;
    background-color: #f5d76e;
    padding-left: 20px;
    padding-top: 30px;
}
.location  .title {
    font-family: 'Playfair Display';
    font-size: 20px;
    line-height: 38px;
    font-weight: 900;
    text-transform: uppercase;
    color: #28211f;
}

.location table{
    font-family: Lato;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #28211f;
}
.day{
    font-weight: 900;;
}
.map{
     width: 100%;
    height: 425px;
    background-color: #dddddd;
    display: flex;
}
.google-map{
    width: 60%;
    height: 100%;
}
.footer{
   
    width: 100%px;
    height: 321px;
    background-color: #39312f;
   

    
    
}
.footer p{
    padding-top:25px;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.icons{
width: 135px;
display: flex;
justify-content: space-between;
margin: 0 auto;

}

.icon {
    padding-top: 100px;
    width: 25px;
    height: 25px;
    
   
  
}
.facebook{
    background: url(/images/icons/facebook.png) no-repeat center;
    
}

.twitter{
    background: url(/images/icons/twitter.png) no-repeat center;
}
.instagramm{
    background: url(/images/icons/instagram.png) no-repeat center;
}

.header::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f5d76e;
    position: absolute;
    opacity: 0.5;

}